<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
             http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <context:annotation-config />
	<context:component-scan base-package="com.zzm.redis" />
	
	
    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig" >  
            <property name="maxWaitMillis" value="-1" />  
            <property name="maxTotal" value="1000" />  
            <property name="minIdle" value="8" />  
            <property name="maxIdle" value="100" />  
    </bean>  
      
    <bean id="jedisCluster" class="com.zzm.redis.factory.JedisClusterFactory">  
        <property name="addressConfig">  
            <value>classpath:connect-redis.properties</value>  
        </property>  
        <property name="addressKeyPrefix" value="address" />   <!--  属性文件里  key的前缀 -->  
          
        <property name="timeout" value="300000" />  
        <property name="maxRedirections" value="6" />  
        <property name="genericObjectPoolConfig" ref="genericObjectPoolConfig" />  
    </bean>  
	
	
</beans>